<h2 id="title">Welcome to Ember.js</h2>

<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
  <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
  <li>{{#link-to 'imprint'}}Imprint{{/link-to}}</li>    
</ul>

{{outlet}}
