<h2>Der Blog</h2>

{{outlet}}

{{#bs-button type="primary" action="addPost"}}
    Add post
{{/bs-button}}

{{#each post in model}}
    <h3>{{post.title}}</h3>
    {{#link-to 'post' post}}weiterlesen{{/link-to}}
    <hr />
{{/each}}


