<h2>Der Blog</h2>

{{outlet}}

<br />

{{#bs-button type="primary" action="addPost"}}
    Add post
{{/bs-button}}

{{#each post in model}}
    {{#post-item post=post}}
        <hr />
    {{/post-item}}
{{/each}}


